#main{
    width: 70%;
    height: 55%;
    border-left: 3px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-right: 1px solid gray;
}
#nav{
    border-top: 1px solid gray;
    font-size: 12px;
 
}
.navi{
    float: left;
    margin-left: 20%;
}
#container{
    width: auto;
    height: 70%;
 
    clear: both;
}
#footer{
    margin-top: 9px;
    font-size: 12px;
    text-align: center;
}
.box{
    width: 27%;
    margin-top: 15px;
    margin-left: 30px;
    height: 90%;
    float: left;
    font-weight: bold;
    font-size: 18px;
}
.box2{
    width: 39%;
    height: 35%;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 8px;
    text-align: center;
    border: 1px solid gray;
}